@import "~normalize.css";

@import "./components/timer/timer.scss";

html, body {
    width: 100%;
    height: 100%;
}

body {
    color: #1f1f1f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden {
    display: none !important;
}

main {
    display: flex;
    flex-direction: column;

    > header {
        padding: 1rem 0 1rem 0;
        display: flex;
        justify-content: center;

        form {
            display: flex;
            flex-direction: row;

            .form-group {
                @media screen and (max-width: 576px) {
                    margin: 0.25rem 0;
                }
            }

            span {
                padding-right: 0.25rem;
            }

            @media screen and (max-width: 576px) {
                flex-direction: column;
                margin-left: 0.5rem;
            }
        }

        @media screen and (max-width: 576px) {
            justify-content: start;
        }
    }
}
